<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="pgrouting3liz.com" name="pgrouting" createdate="2021-04-29">
        <version date="2023-06-29">1.0.5</version>
        <label lang="en_US">pgrouting</label>
        <description lang="en_US" />
        <license URL="">Mozilla Public License : http://www.mozilla.org/MPL/</license>
        <copyright>2021-2023 3Liz</copyright>
        <creator name="3Liz" email="info@3liz.com" />
        <homepageURL>https://3liz.com</homepageURL>
    </info>
    <dependencies>
        <module name="lizmap" minversion="3.5.6" maxversion="3.7.*"/>
    </dependencies>
    <autoload>
        <namespacePathMap name="PgRouting" dir="lib/"/>
    </autoload>
</module>
